@import url("https://fonts.googleapis.com/css?family=Fredoka+One");
@import url("https://fonts.googleapis.com/css?family=Righteous");
* {
  box-sizing: border-box;
  font-family: 'Righteous', cursive; }

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #ED4C67, #5758BB);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

#device {
  position: relative;
  background-color: #192a56;
  width: 300px;
  height: 600px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 10px;
  box-shadow: -20px 10px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden; }
  #device .notch {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-52%);
    background-color: #192a56;
    width: 150px;
    height: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 10; }
  #device .top_nav {
    position: absolute;
    width: 100%;
    z-index: 1; }
    #device .top_nav .clock {
      display: inline-block;
      color: #f5f6fa;
      font-size: 15px;
      margin: 5px 0 0 15px; }
    #device .top_nav .others {
      position: absolute;
      top: 5px;
      right: 30px;
      display: inline-block; }
      #device .top_nav .others i {
        font-size: 13px;
        color: #f5f6fa; }
  #device .full-content {
    background: linear-gradient(5deg, #ED4C67, #5758BB);
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 8px; }
  #device .header-content {
    position: relative;
    top: 30px;
    background-color: rgba(245, 246, 250, 0.85);
    width: 100%;
    padding: 10px;
    border-radius: 10px; }
    #device .header-content .thumbnails {
      background-color: #f5f6fa;
      width: 80px;
      height: 80px;
      padding: 5px;
      margin: auto auto;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      overflow: hidden;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
      #device .header-content .thumbnails img {
        width: 100%;
        height: auto;
        border-radius: 50px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
    #device .header-content p {
      margin: 5px;
      text-align: center; }
    #device .header-content .name {
      font-size: 18px;
      font-family: 'Fredoka One', cursive; }
      #device .header-content .name i {
        color: #0652DD;
        margin-left: 5px; }
    #device .header-content .city span {
      color: #aaa;
      font-size: 12px; }
    #device .header-content .bio {
      color: #2ed573;
      font-size: 14px; }
    #device .header-content .work {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: center;
      border-bottom: 2px solid #aaa;
      padding-bottom: 10px; }
      #device .header-content .work .box {
        text-align: left;
        width: 100%; }
        #device .header-content .work .box span {
          font-size: 12px;
          color: #444444; }
        #device .header-content .work .box .percent {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
          #device .header-content .work .box .percent span {
            color: #888888; }
        #device .header-content .work .box .a {
          border: 2px solid #ED4C67; }
        #device .header-content .work .box .b {
          border: 2px solid #0652DD; }
        #device .header-content .work .box .c {
          border: 2px solid #5758BB; }
    #device .header-content #about {
      padding: 5px; }
      #device .header-content #about .title, #device .header-content #about p {
        margin: 5px;
        text-align: left; }
      #device .header-content #about p {
        font-size: 12px;
        font-weight: 500;
        color: #888888; }
    #device .header-content #working {
      padding: 5px; }
      #device .header-content #working .title {
        margin: 0; }
      #device .header-content #working ul {
        margin: 5px 0 0;
        padding: 0 20px; }
      #device .header-content #working li {
        padding: 0;
        margin: 0;
        font-size: 12px;
        line-height: 2;
        font-weight: 500;
        color: #888888; }
        #device .header-content #working li span {
          float: right; }
    #device .header-content #contact {
      width: 80%;
      margin: auto;
      text-align: center; }
      #device .header-content #contact button {
        background-color: #ED4C67;
        margin: 10px 0 0 0;
        padding: 10px 20px;
        color: #f5f6fa;
        border: none;
        outline: none;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        box-shadow: 0 0 4px #ED4C67;
        transition: all 0.3s;
        cursor: pointer; }
        #device .header-content #contact button:hover {
          box-shadow: 0 0 12px #ED4C67; }

/*# sourceMappingURL=style.css.map */
